<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <properties resource="myproject/config.properties"/>

    <context id="Mysql" targetRuntime="MyBatis3" defaultModelType="flat">
        <!-- beginningDelimiter和endingDelimiter：指明数据库的用于标记数据库对象名的符号，比如ORACLE就是双引号，MYSQL默认是`反引号； -->
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <!--自定义别名插件-->
        <plugin type="vip.liuw.mybatisenerator.plugin.AliasPlugin">
            <property name="type" value="${alias.type}"/>
            <property name="length" value="${alias.length}"/>
        </plugin>

        <!-- 通用mapper-->
        <!-- 通用Mapper自带的原插件:mapper.plugin=tk.mybatis.mapper.generator.MapperPlugin -->
        <!-- MapperPluginWrap继承自原插件，便于自己微调-->
        <plugin type="vip.liuw.mybatisenerator.plugin.MapperPluginWrap">
            <property name="mappers" value="${mapper.Mapper}"/>
        </plugin>

        <!-- 自定义Model插件 -->
        <plugin type="vip.liuw.mybatisenerator.plugin.ModelPlugin">
            <property name="superClass" value="${model.superClass}"/>
            <property name="isSamePackage" value="${model.isSamePackage}"/>
        </plugin>

        <!-- 内置插件 -->
        <!-- 在model中覆写equals和hashcode方法 -->
        <!-- <plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin" /> -->

        <!-- 在model中实现Serializable,生成serialVersionUID -->
        <!-- <plugin type="org.mybatis.generator.plugins.SerializablePlugin" /> -->

        <!-- 来在XXXExample类中生成大小写敏感的LIKE方法 -->
        <!-- <plugin type="org.mybatis.generator.plugins.CaseInsensitiveLikePlugin" /> -->

        <!--使用正则表达式的方式来重命名生成的XXXExample类-->
        <!-- <plugin type="org.mybatis.generator.plugins.RenameExampleClassPlugin"> -->
        <!--    <property name="searchString" value="Example$"/> -->
        <!--    <property name="replaceString" value="Criteria"/> -->
        <!-- </plugin> -->

        <commentGenerator>
            <!-- 不生成注释 -->
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <!-- 数据库连接-->
        <jdbcConnection driverClass="${jdbc.driverClassName}"
                        connectionURL="${jdbc.url}"
                        userId="${jdbc.username}"
                        password="${jdbc.password}">
        </jdbcConnection>

        <javaTypeResolver type="org.mybatis.generator.internal.types.JavaTypeResolverDefaultImpl">
            <property name="forceBigDecimals" value="true"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="${targetModelPackage}" targetProject="${targetJavaProject}"/>

        <sqlMapGenerator targetPackage="${targetXMLPackage}" targetProject="${targetResourcesProject}"/>

        <javaClientGenerator targetPackage="${targetMapperPackage}" targetProject="${targetJavaProject}"
                             type="XMLMAPPER"/>

        <table tableName="%"
               delimitAllColumns="true"
               enableInsert="false"
               enableSelectByPrimaryKey="true"
               enableSelectByExample="false"
               enableUpdateByPrimaryKey="false"
               enableUpdateByExample="false"
               enableDeleteByPrimaryKey="false"
               enableDeleteByExample="false"
               enableCountByExample="false">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>
    </context>
</generatorConfiguration>