<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.liuw.myproject.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="vip.liuw.myproject.model.SysUserRole">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="userId"/>
        <result column="name" jdbcType="VARCHAR" property="roleId"/>
    </resultMap>
    <sql id="Base_Column_List">
        sur.`id` as `sur_id`, sur.`name` as `sur_name`
    </sql>
</mapper>